body,html{
padding: 0;
margin: 0;
background-color: #555252;
}
p{
	margin: 0;
	padding: 0;
}

#selection-box {
	border-style: solid;
	border-width: 5px;
	border-radius:10px;
	height:150px;
	width:150px;
}

#selection-box:hover {
	border-color: #EDC513;
}

#feed {
}

#chrome,#yt,#music,#settings {
	padding-left: 5px;
	padding-top: 5px;
	width:140px; /* you can use % */
    height: auto;
}

#music {
	padding-left: 10px;
}

#app-block {
	border-collapse:separate;
	border-spacing:10px 50px;
}