<!doctype html>
<html lang="en" class="no-js">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  
	<title>elauqsap</title>
	<meta name="description" content="personal app">
	<meta name="author" content="elauqsap">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{csrfToken}}">
	  
	<link rel="shortcut icon" href="/assets/img/favicon.ico">
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/look_feel.css">

</head>

<body>
	<div id="wrap">
		<div class="header"></div>
		<div id="content" class="container">
            <script src="/assets/lib/require.js" data-main="/config.js"></script>
        </div>
	</div>
	<div id="footer" class="container">
		<hr>
	    <p class="pull-left">&copy; 2013 Pasquale D'Agostino</a></p>
	</div>
</body>
</html>

