<div id="logged-in-menu" class="col-md-10 container">
	<ul id="logged-in-nav" class="nav nav-pills">
	      <li class="active" id="home-tab"><a id="home-tab" href="#">Home</a></li>
	      <li id="resolver-tab"><a id="resolver-tab" href="#">Open DNS Scanner</a></li>
	      <li id="rss-tab"><a id="rss-tab" href="#">Info Sec Feed</a></li>
	</ul>

	<div id="home-tab-1">
		<center><h2>Welcome <%= user.username %>!</h2></center>
		<hr id="home-div">
		<p>My name is Pasquale (pseudonym elauqsap) and I am in my last semester as an undergraduate. I became interested in Network Security two years ago when I was given a position as a Student Analyst. I was recently introduced to Ruby on Rails which turned craft into an interest of mine. To help develop both of these interests I decided to create this website. The front-end is done in Backbone.js and the back-end uses Node.js with MongoDB. I plan on making different security tools available through this application as well as some of my thoughts. Thanks for visiting and check out my <a href="http://pdagostino.com" target="_blank">blog</a> if you're interested in my work!</p>
		<div style="line-height:50%;">
    		<br>
		</div>
		<div>
			<h4>My Interests</h4>
			<ul>
				<li>Networking</li>
				<li>Network Security</li>
				<li>Arduino Systems</li>
				<li>System Administration</li>
				<li>Java Programming</li>
				<li>Web App Development</li>
				<li>Shell Scripting</li>
			</ul>
		</div>
	</div>
	<div class="hide" id="resolver-tab-1">
		<center><h2>Open DNS Resolver Scanner</h2></center>
		<hr id="home-div">
		<p>This utility allows you submit a subnet to be scanned for Open DNS Resolvers. Open DNS Resolvers are systems that respond to recursive queries for hosts outside their domains. They can be used in DNS Amplification attacks and therefore pose a threat. Please break up any subnets larger than /22 into smaller subnets for accuracy and better response time.</p>
		<div style="line-height:50%;">
    		<br>
		</div>
		<div class="row">
		<div id="resolver-div" class="col-md-4-offset-3 well well-lg">
    		<div class="height:50px;">
    			<h4>Network Info</h4>
        		<ul id="signup-errors" class="parsley-error-list"></ul>
    		</div>
    		<form id="resolver-form" class="form" data-validate="parsley">
        		<fieldset>
            		<div class="control-group">
                		<div class="controls">
                   			<input class="input-medium" id="network-input" placeholder="Network" name="network" value="" data-required="true" data-notblank="true">
                   			 <span class="help-block"></span>
                		</div>
            		</div>
            		<div class="control-group">
                		<div class="controls">
                    		<input class="input-medium" id="subnet-input" placeholder="Subnet" name="" value="" data-required="true" data-notblank="true" data-rangelength="[22,32]">
                    	<span class="help-block"></span>
                	</div>
           			</div>
            		<a href="#" id="scan-btn" class="btn btn-primary btn-sm pull-right" data-bypass>Scan</a>  
        		</fieldset>
    		</form>
		</div>
	</div>
	</div>
	<div class="hide" id="rss-tab-1">
		<center><h2>Information Security Feed</h2></center>
		<hr id="home-div">
	</div>
</div>