<div id="login-box" class="col-md-4 well well-lg text-center">
    <img class="displayed" src="/assets/img/favicon.ico" width="85" height="85" alt="logo"/>
    <div class="height:50px;">
        <ul id="login-errors" class="parsley-error-list"></ul>
    </div>
    <form id="login-form" class="form" data-validate="parsley">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="login-username-input" name="username" placeholder="Username" value="<%= user.username || '' %>" data-required="true" data-notblank="true">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="control-group">
            <div class="controls">
                <input class="input-medium" type="password" id="login-password-input" placeholder="Password" name="user_password" value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                <span class="help-block"></span>
            </div>
            </div>
                <a id="presign-btn" class="btn btn-primary btn-sm pull-left" data-bypass>Signup</a> 
                <a href="#" id="login-btn" class="btn btn-primary btn-sm pull-right" data-bypass>Login</a>
        </fieldset>
    </form>
</div>

<div id="signup-box" class="col-md-4 well well-lg text-center hide">
    <img class="displayed" src="/assets/img/favicon.ico" width="85" height="85" alt="logo"/>
    <div class="height:50px;">
        <ul id="signup-errors" class="parsley-error-list"></ul>
    </div>
    <form id="signup-form" class="form" data-validate="parsley">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="signup-username-input" name="username" placeholder="Username" value="<%= user.username || '' %>"
                                data-required="true" data-notblank="true">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="input-medium" type="password" id="signup-password-input" placeholder="Password" name="user_password" value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="input-medium" type="password" id="signup-password-confirm-input" placeholder="Confirm Password" name="user_password" value="" data-required="true" data-notblank="true" data-rangelength="[5,25]" data-equalto="#signup-password-input">
                    <span class="help-block"></span>
                </div>
            </div>
            <a href="#" id="signup-btn" class="btn btn-primary btn-sm pull-right" data-bypass>Signup</a>  
        </fieldset>
    </form>
</div>