<p>Main Mobile View!

<div id="block">
	<table id="app-block">
		<tr>
			<td>
				<div id="selection-box" class="google-search"> <img src="../assets/img/chrome-512.png" id="chrome"></div>
			</td>
			<td>
				<div id="selection-box" class="youtube-search"> <img src="../assets/img/youtube-512.png" id="yt"></div>
			</td>
			<td>
				<div id="selection-box" class="music-stream"> <img src="../assets/img/play.png" id="music"></div>
			</td>
			<td>
				<div id="selection-box" class="settings"> <img src="../assets/img/settings.png" id="settings"> </div>
			</td>
	</table>
</div>