<div class="container-fluid">
  <div class="row-fluid">
    <div class="time-block col-md-4" id="time"></div>
    <div class="forecast-block col-md-8 col-md-offset-2" id="forecast"></div>
  </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="blocks col-md-8">
			<div id="start-block"></div>
				<div id="selection-box" class="block selected">
					<img src="../assets/img/chrome-512.png" id="chrome">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/youtube-512.png" id="youtube">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/play.png" id="music">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/settings.png" id="settings">
				</div>
			<div id="end-block"></div>
		</div>
	</div>
</div>