<div id="mobile-logo">
	hawkeyeTV
</div>

<div id="mobile-blocks">
	<div id="selection-box" class="mobile-block first">
		<img src="../assets/img/chrome-512.png" id="chrome">
	</div>
	<div id="selection-box" class="mobile-block second">
		<img src="../assets/img/youtube-512.png" id="youtube">
	</div>
	<div id="selection-box" class="mobile-block third">
		<img src="../assets/img/play.png" id="music">
	</div>
	<div id="selection-box" class="mobile-block fourth">
		<img src="../assets/img/settings.png" id="settings">
	</div>
</div>