<div class="time-block" id="time"></div>
<div class="forecast-block" id="forecast"></div>
<div id="feed" class="fb-feed"></div>
<div id="feed" class="tw-feed"></div>

<div class="blocks">
	<div id="start-block"></div>
		<div id="selection-box" class="block selected">
			<img src="../assets/img/chrome-512.png" id="chrome">
		</div>
		<div id="selection-box" class="block">
			<img src="../assets/img/youtube-512.png" id="youtube">
		</div>
		<div id="selection-box" class="block">
			<img src="../assets/img/play.png" id="music">
		</div>
		<div id="selection-box" class="block">
			<img src="../assets/img/settings.png" id="settings">
		</div>
	<div id="end-block"></div>
</div>