<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Settings Configuration</h4>
      </div>
      <div class="modal-body">
        Settings:

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
        <button type="button" class="btn btn-primary" id="changeMe" >Save</button>
      </div>
    </div>
  </div>
</div>