
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="settings-title" id="settings-title">Settings</h4>
            </div>
        <div class="modal-body"> 
        <div class="height:50px;">
            <ul id="settings-errors" class="parsley-error-list"></ul>
        </div>
        <form id="settings-form" class="form" data-validate="parsley">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input class="input-medium" id="zipcode-input" 
                        placeholder="5 digit zipcode" name="zipcode" 
                        value="" data-required="true" data-notblank="true" data-rangelength="[5,5]">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="control-group">Theme
                    <div class="controls">
                        <div class="btn-group" id="theme-input">
                           <button type="button" id="th-btn" onClick="$('#th').val('default');" class="btn th btn-primary btn-sm">Default</button>
                           <button type="button" id="th-btn" onClick="$('#th').val('slate');" class="btn th btn-primary btn-sm">Slate</button>
                        </div>
                        <input name="th" id="th" type="hidden" value="">
                    </div>
                </div>
                <div class="control-group">Facebook Feed
                    <div class="controls">
                        <div class="btn-group" id="facebook-input">
                           <button type="button" id="fb-btn" onClick="$('#fb').val('enabled');" class="btn fb btn-primary btn-sm">Enabled</button>
                           <button type="button" id="fb-btn" onClick="$('#fb').val('disabled');" class="btn fb btn-primary btn-sm">Disabled</button>
                        </div>
                        <input name="fb" id="fb" type="hidden" value="">
                    </div>
                </div>
                <div class="control-group">Twitter
                    <div class="controls">
                        <div class="btn-group" id="twitter-input">
                            <a class="btn fb btn-primary btn-sm" href="/auth/twitter">Login</a>
                        </div>
                    </div>
                </div>
                <div class="control-group">News Feed
                    <div class="controls">
                        <div class="btn-group" id="news-input">
                           <button type="button" id="nw-btn" onClick="$('#nw').val('enabled');" class="btn nw btn-primary btn-sm">Enabled</button>
                           <button type="button" id="nw-btn" onClick="$('#nw').val('disabled');" class="btn nw btn-primary btn-sm">Disabled</button>
                        </div>
                        <input name="nw" id="nw" type="hidden" value="">
                    </div>
                </div>
                <br>
                <a href="#" id="save-btn" class="btn btn-primary btn-sm" data-bypass>Save</a> 
                <a href="#" id="close-btn" class="btn btn-primary btn-sm" data-bypass>Close</a>  
            </fieldset>
        </form>
        </div>
        </div>
    </div>
  </div>
</div>