<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    
  </div>
</nav>

<div class="youtubeView">
<div class="searchInput"></div>

<div id="youtubeFrame"></div>

<section class="slider">
			<div class="list-wrapper">

					<ul class="video span4">

					</ul>
			</div>
</section>

<div id="videoTpl" type="text/template" >
	<li class="videoBlock " id="{{id}}">
		<div class="tile well" id="{{id}}">
			<img class="tile-image" src="{{thumbnail}}" id="{{id}}"/>			
			<h3 class="tile-title">{{title}}</h3>
			<p>Duration: {{duration}}</p>
		</div>
	</li>
</div>

</div>