body { 

 background-image:url('../img/this.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Audiowide';
	src: url('../fonts/Audiowide-Regular.ttf') format('truetype');
}

#logo {
	padding-left: 20px;
}

#logo-txt {
	font-family: 'Audiowide';
	color: #000000;
	font-size: 46px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 6.4pt;
	line-height: 0.10;
	padding: 15px;
	padding-left: 20px;
	text-shadow: 2px 0px 0px #BABABA;
}

.time-block{
	width: 450px;
	position: absolute;
	left: 25px;
	margin-top: 15px;
	border-color: #BABABA;
	border-bottom: 2px solid;
}

.forecast-block {
	width: 500px;
	height: 220px;
	position: absolute;
	margin-top: -25px;
	right: 25px;
	border-bottom: 2px solid;
}

#time {
	font-size: 50px;
	line-height: .9;
	font-family: 'Audiowide';
	color: rgba(0, 0, 0, 0.4);
    float: left;
}

#main { 
    width: 350px;
    margin: 0 auto;
}

#daytime  {
	position: absolute;
	right: 50px;
}

#date {
	margin-left: 90px;
}

#selection-box {
	height:150px;
	width:150px;
}

#feed {
}

#chrome,#youtube,#music,#settings {
	width: 140px; /* you can use % */
    height: auto;
}

#music {
	padding-left: 10px;
}

.blocks {
	position: absolute;
	top: 40%;
    left: 25px;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.block {
	margin-right: 15px;
	float: left; width: 200px;
}

.selected{
	border-color: #000000;
	border-style: solid;
	border-width: 5px;
	border-radius:10px;
}
.list-wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 700px;
}

img.tile-image {
	/*margin-left: 60px;*/
}

ul.video {
	margin-top: 50px;
}


@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px){
  /* some css here */

	body { 

	  background-color: #111111;background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgoJPHJhZGlhbEdyYWRpZW50IGlkPSdnbG93JyBncmFkaWVudFVuaXRzPSd1c2VyU3BhY2VPblVzZScgY3g9JzM1MCcgY3k9JzMwMCcgcj0nNTAwJz4KCQk8c3RvcCBvZmZzZXQ9JzAlJyBzdG9wLWNvbG9yPScjNzc3Nzc3JyAvPgoJCTxzdG9wIG9mZnNldD0nNjAlJyBzdG9wLWNvbG9yPScjNDQ0NDQ0JyAvPgoJCTxzdG9wIG9mZnNldD0nMTAwJScgc3RvcC1jb2xvcj0nIzExMTExMScgLz4KCTwvcmFkaWFsR3JhZGllbnQ+Cgk8cmVjdCBmaWxsPSd1cmwoI2dsb3cpJyB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScvPgo8L3N2Zz4=') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	img.tile-image {
		width: 200px;
	}

	#mobile-logo {
		font-family: 'Audiowide';
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
		height: 50px;
		font-size: 200%;
		color: #FDD017;
	}

	#mobile-blocks {
		left: 15px;
	}

	.mobile-block {
		height: 120px;
		width: 120px;
	}
	#chrome,#youtube,#music,#settings {
		width: 120px; /* you can use % */
	    height: 120px;
	    border-color: #000000;
		border-style: solid;
		border-width: 2.5px;
		border-radius: 10px;
	}

	.first {
		position: absolute;
		top: 15%;
	    left: 25px;
	}

	.second{
		position: absolute;
		top: 15%;
	    right: 0px;
	}

	.third{
		position: absolute;
		top: 44%;
	    left: 25px;
	}

	.fourth {
		position: absolute;
		top: 44%;
	    right: 0px;
	}


	.list-wrapper {
		margin-right: auto;
		margin-left: auto;
		width: 300px;

	}

}


ul li{
	display: inline;
}


