<!-- <div id="logo">
	<h2 id="logo-txt">hawkeyeTV</h2>
</div> -->
<div class="time-block" id="time"></div>
<div class="forecast-block" id="forecast"></div>
<div id="feed" class="fb-feed"></div>
<div id="feed" class="tw-feed"></div>

<div id="block">
	<table id="app-block">
		<tr>
			<td>
				<div id="selection-box" class="google-search"> <img src="/app/img/chrome-512.png" id="chrome"></div>
			</td>
			<td>
				<div id="selection-box" class="youtube-search"> <img src="/app/img/youtube-512.png" id="yt"></div>
			</td>
			<td>
				<div id="selection-box" class="music-stream"> <img src="/app/img/play.png" id="music"></div>
			</td>
			<td>
				<div id="selection-box" class="settings"> <img src="/app/img/settings.png" id="settings"> </div>
			</td>
	</table>
</div>