<div class="logo"></div>
<div class="logo-txt">
	<h2>hawkeyeTV</h2>
</div>
<div id="time"></div>
<div id="forecast"></div>
<div id="feed" class="fb-feed"></div>
<div id="feed" class="tw-feed"></div>

<table id="app-block">
	<tr>
		<td>
			<div id="selection-box" class="google-search"> <img src="/app/img/chrome-512.png" id="chrome"></div>
		</td>
		<td>
			<div id="selection-box" class="youtube-search"> <img src="/app/img/youtube-512.png" id="yt"></div>
		</td>
		<td>
			<div id="selection-box" class="music-stream"> <img src="/app/img/play.png" id="music"></div>
		</td>
		<td>
			<div id="selection-box" class="settings"> <img src="/app/img/settings.png" id="settings"> </div>
		</td>
	</tr>
</table>
